<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>
<div class="container-fluid">
    <h5 class="text-center text-dark mt-5">
        Oops, looks like our servers couldn't process your request. Please, come back later or try searching for something else.<br>
        <img width="300px" height="400px" src="https://images.unsplash.com/photo-1634544353496-140f580743ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
    </h5>
</div>

</body>
</html>