body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #8da9c4;
    background-image: linear-gradient(to bottom, #8ecae6, transparent);
}


.navbar {
    background-color: #e2eff1;
    background-image: linear-gradient(to bottom, #f0f5f9 50%, transparent);
    font-weight: bold;
}

.post-header {
    color: black;
    font-size: 25px;
}

.post-description {
    color: black;
    font-size: 20px;
}

.post-details {
    font-size: 15px;
}

.post-frame {
    background-color: white;
    background-image: linear-gradient(0deg, #d6ecfa, transparent);
}

.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}


.bg-teal-400 {
    background-color: #26a69a;
}

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1503389152951-9f343605f61e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1199&q=80");
}



#communityBody{
    /*margin-top:20px;*/
    color: #1a202c;
    text-align: left;
    background-color: #8da9c4;
    /*background-color: #e2e8f0;*/
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.communityCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}



:root {
    --gradient: linear-gradient(to left top, #8ecae6 10%, #219ebc 90%) !important;
}

.allCommunityCard {
    margin-bottom: 2rem;
}

.allCommunityCard .btn:hover, .allCommunityCard .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 2px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

.welcomePage {
    background-color: #e2eff1;
    background-image: linear-gradient(to bottom, #f0f5f9 50%, transparent);
}
