<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>
<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container mx-auto mt-4">
    <div class="row">
        <div th:each="community : ${communities}" class="col-md-4">
            <div class="card allCommunityCard" style="width: 18rem;">
                <div class="card-body">
                    <h5 th:text="${community.name}" class="card-title">Community name</h5>
                    <p th:text="${community.description}" class="card-text">Community description</p>
                    <a th:href="@{/communities/{communityName}(communityName = ${#strings.substring(community.name, 1)})}" class="btn mr-2"><i class="fas fa-link"></i> Visit Community</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>