<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>
<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container-fluid col-md-8">
    <div class="row text-justify">

            <div th:object="${post}" class="post-frame card card-body mt-3">
                <div th:id="${'postNo' + post.id}" class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">

                    <div class="post-header media-body">
                        <h4 class="media-title font-weight-semibold">
                            <th:block th:text="*{title}">Post Title</th:block>
                        </h4>

                        <ul class="post-details list-inline list-inline-dotted mb-3 mb-lg-2">
                            <li class="list-inline-item">Community:
                                <a th:href="@{/communities/{communityName}(communityName = ${#strings.substring(post.community, 1)})}" class="text-muted" data-abc="true" th:text="${post.community}">Community</a>
                            </li>
                            <li class="list-inline-item">Posted by:
                                <a th:href="@{/users/{username}/profile(username = ${post.owner})}" class="text-muted" data-abc="true" th:text="${post.owner}">Owner</a>
                            </li>
                        </ul>

                        <p class="mb-3 post-description" th:text="*{description}">Description</p>

                        <ul class="list-inline list-inline-dotted mb-0">
                            <li class="list-inline-item">
                                <a class="upVoteBtn btn" th:classappend="${post.getUpvoteStatus() == 1} ? 'btn-success' : 'btn-primary'" href="javascript:void(0)"
                                   role="button">Upvote <span class="badge bg-secondary"
                                                              th:text="${post.upvoteCount}">0</span></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="downVoteBtn btn" th:classappend="${post.getUpvoteStatus() == -1} ? 'btn-danger' : 'btn-primary'"
                                   href="javascript:void(0)"
                                   role="button">Downvote</a>
                            </li>
                            <li class="list-inline-item" sec:authorize="hasRole('ROLE_MODERATOR')"
                                th:if="${principal.username == post.owner}">
                                <a class="btn btn-primary" th:href="@{/dashboard/{postId}/delete(postId = ${post.id})}"
                                   role="button">Delete</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-primary"
                                   th:href="@{/posts/{postId}/addComment(postId = ${post.id})}"
                                   role="button">Add comment</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

    </div>

    <h2 class="text-white mt-5">Comments</h2>

    <div th:each="comment : ${comments}" class="row text-justify">
        <div class="post-frame card card-body mt-3">
            <div th:id="${'commentNo' + comment.id}" class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">

                <div class="post-header media-body">

                    <ul class="post-details list-inline list-inline-dotted mb-3 mb-lg-2">
                        <li class="list-inline-item">Posted by:
                            <a th:href="@{/profile/user/{username}(username = ${comment.owner})}" class="text-muted" data-abc="true" th:text="${comment.owner}">Owner</a>
                        </li>
                    </ul>

                    <p class="mb-3 post-description" th:text="${comment.content}">Content</p>

                    <ul class="list-inline list-inline-dotted mb-0">
                        <li class="list-inline-item">
                            <a class="upVoteCommentBtn btn btn-sm" th:classappend="${comment.getUpvoteStatus() == 1} ? 'btn-success' : 'btn-primary'"
                               href="javascript:void(0)"
                               role="button">Upvote <span class="badge bg-secondary"
                                                          th:text="${comment.upvoteCount}">0</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="downVoteCommentBtn btn btn-sm" th:classappend="${comment.getUpvoteStatus() == -1} ? 'btn-danger' : 'btn-primary'"
                               href="javascript:void(0)"
                               role="button">Downvote</a>
                        </li>
                        <li class="list-inline-item btn-sm" sec:authorize="hasRole('ROLE_MODERATOR')">
                            <a class="btn btn-primary" href=""
                               role="button">Delete</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
<script src="/js/dashboard-action.js"></script>
<script src="/js/comment-action.js"></script>
</body>
</html>